Source: opx-sdi-device-drivers
Section: net
Priority: optional
Maintainer: Dell EMC <ops-dev@lists.openswitch.net>
Build-Depends: debhelper (>= 9), dh-autoreconf, libopx-common-dev,
 libopx-logging-dev, libopx-sdi-api-dev (>= 4.12.0), libopx-sdi-framework-dev (>= 3.5.0), libz-dev
Standards-Version: 3.9.3

Package: libopx-sdi-device-drivers1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: This package contains the device driver plugin to be used with opx-sdi-sys package.

